# Question 1

In [47]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()              #after this statement a values changes to 2         
b()              #after this,a value further increases by 2 and becomes 4
b()              #after this,a values increases by 2 and becomes 6
a                #a value is printed which equates to 6

6

# Question 2

In [48]:
def fileLength(filename): #defening function
    try:
        inputfile = open(filename)
        words = inputfile.read()
        inputfile.close()
        print(len(words))
    except:
        print("File "+filename+" not found!!")
fileLength("Filelength.txt") #This calls a function with an actual input
fileLength("ilelength.txt")  #This calls a function to detect error

123
File ilelength.txt not found!!

# Question 3

In [49]:
class Marsupial:                 #parent class initialized here
    def __init__(self,x,y):       #defining constructor here
        self.pouch=[]                   
             
    def put_in_pouch(self,items):   # appending items to pouch
        self.pouch.append(items)
        
    def pouch_contents(self):           
        return self.pouch

class Kangaroo(Marsupial):         #creating sub-class 
    def __init__(self,x,y):              
        super().__init__(x,y)     #super constructor
        self.dx = 0                      
        self.dy = 0                        
    
    def jump(self,x,y):                 
        self.dx = self.dx + x    #defining jump function to jump the coordinates of Kangaroo as per input 
        self.dy = self.dy + y
    
    def __str__(self):         
        
        return ('I am a Kangaroo located at coordinates ( {},{})'.format(self.dx,self.dy))

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
print(k.pouch)  
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates ( 0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ( 3,0)

# Question 4

In [50]:
def collatz (x):  #defining function
    if(x != 1): 
        print(x )
    if(x == 1):
        print(x)
        return x
    if(x%2 == 0):  #even number
        x = x // 2
        collatz(x)
    else:               #odd number
        x= 3*x + 1
        collatz(x)


collatz(1)  
print('\n')
collatz(10)

1


10
5
16
8
4
2
1

# Question 5

In [51]:
binary_form =""
def binary (n):
    global binary_form  #defining global variable
    if(n==0): 
        print("0")
        
    elif(n==1):
        binary_form +="1" #appending 1 to end of string
        binary_form = binary_form [::-1] #reversing the string
        print(binary_form)
        binary_form=""  #adding the global variable
            
    else:
        x=""
        remainder = int(n%2)
        x =str(remainder)
        binary_form+=x  #appending remainder to binary format
        n =int(n/2)
        binary(n) #recursive function here

        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

# Question 6

In [52]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    indent = -6 
        
    def handle_starttag(self, tag, attrs): #This function assigns indentation according to heading tag
        if tag == 'h1':
            self.indent = 0
        elif tag == 'h2':
            self.indent = 1
        elif tag == 'h3':
            self.indent = 2
        elif tag == 'h4':
            self.indent = 3
        elif tag == 'h5':
            self.indent = 4            
        elif tag == 'h6':
            self.indent = 5
        else:
            self.indent = -6
               

    def handle_data(self, data):
        if data.strip() != "":
            printWithIndentation(data, self.indent) #This calls the function to print heading
        

def printWithIndentation(text, indent):
    if indent >= 0:
        print(f"{' ' * indent}{text}")              #This prints the heading with indentation   

input_file = open('w3c.html') 
content = input_file.read() 
input_file.close() 

headingParser = HeadingParser()
headingParser.feed(content)

W3C Mission
 Principles

# Question 7

In [53]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    print(' ' * indent + url)
    try:
        response = requests.get(url)
        content = response.content
        soup = BeautifulSoup(content, 'html.parser')
        links = soup.find_all('a')
        for link in links:
            href = link.get('href')
            if href and href.startswith('http'):
                webdir(href, depth - 1, indent + 1)
    except requests.exceptions.RequestException as e:
        print(f"Error accessing {url}: {e}")

#Testing the function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

In [54]:
import sqlite3

def setup_database():
    #Connect to SQLite database (or create it if it doesn't exist)
    conn = sqlite3.connect('weather.db')
    cursor = conn.cursor()

    #Create table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Weather (
            City TEXT,
            Country TEXT,
            Season TEXT,
            Temperature REAL,
            Rainfall REAL
        )
    ''')

    #Clear the table if it already exists to prevent duplicates
    cursor.execute('DELETE FROM Weather')

    #Insert data
    data = [
        ('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
    ]
    cursor.executemany('INSERT INTO Weather VALUES (?,?,?,?,?)', data)

    #Commit changes to the database
    conn.commit()
    conn.close()

def run_queries():
    #Connect to the database
    conn = sqlite3.connect('weather.db')
    cursor = conn.cursor()

    #Query a) All the temperature data
    cursor.execute('SELECT Temperature FROM Weather')
    temperatures = cursor.fetchall()
    print("All the temperature data:", temperatures)

    #Query b) All the cities, but without repetition
    cursor.execute('SELECT DISTINCT City FROM Weather')
    cities = cursor.fetchall()
    print("All the cities, but without repetition:", cities)

    #Query c) All the records for India
    cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
    india_records = cursor.fetchall()
    print("All the records for India:", india_records)

    #Query d) All the Fall records
    cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
    fall_records = cursor.fetchall()
    print("All the Fall records:", fall_records)

    #Query e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
    cursor.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
    rainfall_records = cursor.fetchall()
    print("Average rainfall between 200 and 400 mm:", rainfall_records)

    #Query f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
    cursor.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
    fall_temp_records = cursor.fetchall()
    print("Fall temperature above 20 degrees:", fall_temp_records)

    #Query g) The total annual rainfall for Cairo
    cursor.execute("SELECT SUM(Rainfall) AS Total_Annual_Rainfall FROM Weather WHERE City = 'Cairo'")
    cairo_rainfall = cursor.fetchone()
    print("Total annual rainfall for Cairo:", cairo_rainfall)

    #Query h) The total rainfall for each season
    cursor.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season")
    seasonal_rainfall = cursor.fetchall()
    print("Total rainfall for each season:", seasonal_rainfall)

    #Close the connection
    conn.close()

#Execute the functions
setup_database()
run_queries()

All the temperature data: [(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]
All the cities, but without repetition: [('Mumbai',), ('London',), ('Cairo',)]
All the records for India: [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]
All the Fall records: [('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]
Average rainfall between 200 and 400 mm: [('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]
Fall temperature above 20 degrees: [('Cairo', 'Egypt'), ('Mumbai', 'India')]
Total annual rainfall for Cairo: (27.6,)
Total rainfall for each season: [('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question 9

In [55]:
words = [
'The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'
]
#This prints all words upper case
print(
[x.upper() for x in words]
)
#This prints all words lower case
print(
[x.lower() for x in words]
)
#This prints the length of each word
print(
[len(x) for x in words]
)
#This prints the list containing a list for every word of list words,
#where each list contains the word in uppercase and lowercase and the length of the word
print(
[
[x.upper(), x.lower(), len(x)
] for x in words]
)
#This prints the list of words in list words containing 4 or more characters
print(
[x for x in words if len(x)>=4]
)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']